@import "./variables.scss";

.about-container {
  //min-width: 450px;
  background-color: $background-color;
  margin-top: 0;
  z-index: 50;
  position: relative;
  margin-top: 100vh;
}

.fade-divider {
  height: 200px;
  position: absolute;
  margin-top: 0;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -200px;
  overflow: hidden;
  background: $background-fade;
}

.custom-shape-divider-bottom-1699302488 {
  position: absolute;
  margin-top: 0;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  fill: $background-color;
  margin-top: -10%;
}

.about-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0;
  margin: 0;
  padding: 10vw;
  justify-content: center;
  align-items: center;
}

//BUTTON STYLEING//////////////////////////////
.about-button {
  padding-top: 20px;
}
.avatarHead {
  position: relative;
  z-index: -2;
}

#hand {
  z-index: -2;
  position: relative;
  display: block;
  width: 9px;
  height: 30px;
  background-color: rgb(196, 159, 115);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

#moreButton:hover {
  transform: scale(1.05);
}

.starBehindButton1 {
  position: relative;
  width: 25px;
  z-index: -2;
  box-shadow: 2px;
}

/* .matilda-cut-out {
    width: 80%;
    clip-path: circle( 50% at center);
    background-color: $primary-color;
    z-index: 2;
    position: relative;
} */
@keyframes appear-right {
  0% {
    transform: translate(150%); 
    opacity: 0; 
  }
  100% {
    transform: translate(0%) ; 
    opacity: 1; 
  }
}

.about-text-section {
  margin-left: -70%;
  z-index: 2;
  opacity: 0;

  &.in-view { 
    animation: appear-right 1.5s forwards; 
    opacity: 1; 
  }
}

@keyframes appear-left {
  0% {
    transform: translate(-150%, -70%) rotate(-65deg); 
    opacity: 0; 
  }
  100% {
    transform: translate(-50%, -50%) rotate(-65deg); 
    opacity: 1; 
  }
}

.matilda-cut-out {
  width: 40vw;
  height: 90vw; 
  background-color: $primary-color;
  z-index: 2;
  position: relative;
  transform: translate(-50%, -50%) rotate(-65deg); 
  border-radius: 0 0 1000px 1000px; 
  overflow: hidden; 
  margin-bottom: -100%;
  opacity: 0;

  &.in-view { 
    animation: appear-left 0.8s forwards; 
    opacity: 1; 
  }

  img {
    width: 100%; 
    height: auto;
    object-fit: cover;
    transform: rotate(65deg) translateY(53%) translateX(-10%); 
    position: absolute; 
    top: 50%; 
    left: 50%;
    border-radius: inherit;
    display: flex;
  }
}

.space {
  height: 300px;
}


//////darkmode/////////////////////


@media (max-width: 1000px) {
  .about-grid {
    grid-template-columns: 1fr;
    padding: 5vw; 
  }

  .about-text-section {
    margin-left: 0;
  }

  .matilda-cut-out {
    margin-bottom: -60%;

  }
}
