/* Import variables and settings */
@import 'variables';

/* Apply CSS resets or normalization */
//@import 'reset'; 

/* Hide scrollbar for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge and Firefox*/
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1 {
    font-family: $font-heading;
    font-size: 90px;
    color: $text-color;
}

h2 {
    font-family: $font-heading;
    font-size: 50px;
    color: $text-color;
    font-weight: normal;
}

h3 {
    font-family: $font-heading;
    font-size: 25px;
    color: $text-color;
}

h4 {
    font-family: $font-text;
    font-size: 25px;
    color: $text-color;
    font-weight: regular;
}

p {
    font-family: $font-text;
    font-size: 16px;
    color: $text-color;
    line-height: 30px;
}

body {
  min-width: 450px;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgba(255, 209, 209, 1) 0%, rgba(251, 251, 251, 1) 100%);
  width: 100vw; /* Ensure the background covers the full width of the viewport */
  height: 100vh; /* Ensure the background covers the full height of the viewport */
  background-size: cover; /* Ensure the background image covers the entire container */
}
 
.dark-mode {
  // Dark mode styles
  background-color: $background-color-dark;
  color: $text-color-dark;
  
  h1,
  h2,
  h3,
  h4,
  p {
    color: $text-color-dark; // Change text color for dark mode
  }
  // Add other dark mode styles
}

.light-mode {
  // Light mode styles
  background-color: $background-color;
  color: $text-color;
  // Add other light mode styles
}