@import "variables";

.hero-container {
  background: linear-gradient(90deg,$primary-color,$primary-color-2);
  background-size: 400% 400%;
  animation: gradient_anim 2s ease-in;
  //min-width: 450px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  max-width: 100vw;
}
      
@keyframes gradient_anim {
  0% {
      background-position: 100% 70%;
  }
  50% {
    background-position: 50% 40%;
  }
  100% {
    background-position: 10% 0%;
  }
}

.hero-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 10vw;
}

h2 {
  padding-bottom: 20px;
}

.sun {
  z-index: -1;
  display: inline-block;
  width: 15vw;
  height: 15vw;
  position: relative;
  border-radius: 50%;
  margin-left: auto;
  background-color: $sun-color;
  box-shadow:
    inset 0 0 50px #ffc773,
    /* inner white */ inset 20px 0 80px $sun-color,
    /* inner left magenta short */ inset -20px 0 80px #f5909c,
    /* inner right cyan short */ inset 20px 0 300px $sun-color,
    /* inner left magenta broad */ inset -20px 0 300px #fbfbfb,
    /* inner right cyan broad */ 0 0 50px #ffcd83,
    /* outer white */ -10px 0 80px $sun-color,
    /* outer left magenta */ 10px 0 80px #fbfbfb; /* outer right cyan */
}

.cloud {
  z-index: 0;
  position: absolute;
  top: 0;
  width: 30vw;
  display: center;
}

.moon {
  display: none;
}

.stars {
  display: none;
}
.star {
  display: none;
}

.hero-text {
  padding-top: 10vh;
  z-index: 2;
}

a {
  font-family: $font-heading;
  color: $text-color;
  transition: all 0.4s ease;
  cursor: pointer;

  &:hover {
    color: $secondary-color;
  }
}

.dark-mode {
  .hero-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      90deg,
      rgba(22, 23, 30, 1) 0%,
      rgba(41, 47, 95, 1) 100%
    );
  }
  .sun {
    display: none;
  }

  .moon {
    z-index: 1;
    display: inline-block;
    width: 15vw;
    height: 15vw;
    position: relative;
    border-radius: 50%;
    margin-left: auto;
    background-color: $moon-color;
    box-shadow:
      inset 0 0 50px #b4baf7,
      /* inner white */ inset 20px 0 80px $moon-color,
      /* inner left magenta short */ inset -20px 0 80px #fa89aa,
      /* inner right cyan short */ inset 20px 0 300px $moon-color,
      /* inner left magenta broad */ inset -20px 0 300px #fbfbfb,
      /* inner right cyan broad */ 0 0 50px #b4baf7,
      /* outer white */ -10px 0 80px $moon-color,
      /* outer left magenta */ 10px 0 80px #fbfbfb; /* outer right cyan */
  }

  .stars {
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    display: block;
  }

  .star {
    z-index: 0;
    position: absolute;
    top: 0;
    display: block;
  }

  .cloud {
    display: none;
  }
  

}
