@import "variables";

.hotspotContainer {
  background-color: $background-color;
  display: grid; /* Use CSS Grid */
  grid-template-rows: 1fr 4fr;
}

.contentContainer {
  background-color: $background-color;
  display: grid; /* Use CSS Grid */
  grid-template-columns: 1fr 4fr;
  top: 100vh;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/projects/HotspotHeroImage.jpg');
}

.heroBackground {
  background-image: url('../assets/projects/HotspotHeroImage.jpg');
}

.section {
  height: 500px;
}

.vertical-navbar {
  position: sticky;
  height: 100vh;
  top: 50px;
}


/////////////////////////////////////