@import "variables";

.memosphere-container {
  background-color: $background-color;
  display: grid;
  grid-template-rows: 1fr 4fr;
  margin-top: -41px;
  scroll-snap-type: y mandatory;

  .memosphere-hero-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 4;
    position: absolute;
    bottom: 0;
    width: 100vw;
    position: sticky;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/projects/Memosphere/MemosphereHeroImage.png");
  }

  .content-container {
    background-color: $background-color;
    display: grid;
    grid-template-columns: 1fr 4fr;
    top: 0;
    z-index: 4;
    scroll-snap-align: start;

    h3 {
      padding-left: 5%;
      padding-right: 5%;
    }

    h4 {
      padding-top: 10px;
    }
  }

  li {
    font-family: $font-text;
    font-size: 14px;
    color: $text-color;
    line-height: 22px;
  }

  ul {
    margin-top: 0;
    padding-top: 0;
  }

  .list-title {
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .section {
    height: 500px;
  }

  .vertical-navbar {
    position: sticky;
    height: 100vh;
    top: 0px;
  }

  .project-section-title {
    color: $secondary-color;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
  }

  .project-section-subtitle {
    padding-top: 0;
    margin-top: 0;
    padding-left: 5%;
    padding-right: 5%;
  }

  img {
    width: 100%;
  }

  /////////////////////////////////////
  ///
  #section1 {
    padding-top: 80px;
    background-color: $background-color;
    height: auto;

    .design-overview {
      background-color: $primary-color;
      height: auto;
      display: flex;
      flex-direction: column;
    }

    .design-overview-content {
      padding: 80px 5%;
    }

    p {
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 20px;
    }

    #idea {
      width: 14%;
      padding-bottom: 20%;
    }

    #arrowDownRight {
      width: 8%;
      padding-bottom: 10%;
      padding-right: 5px;
      padding-left: 5px;
    }

    #memosphereLoFiPreview {
      width: 35%;
    }

    #arrowUpRight {
      width: 8%;
      padding-bottom: 8%;
      padding-right: 5px;
      padding-left: 5px;
    }

    #memosphereHiFiPreview {
      width: 35%;
    }

    .section-section {
      padding-top: 100px;
    }

    .carousel-container {
      height: 60vh;
    }

    .memosphere-storyboard {
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
    }

    .mooadboard-graphicprofile-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      padding: 10px;
      padding-left: 5%;
      padding-right: 5%;
    }

    .memosphereHiFi {
      padding-left: 5%;
      padding-right: 5%;
    }

    .image-grid {
      padding-left: 5%;
      padding-right: 5%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px; 
    }
    
    .image-grid img {
      width: 180px; 
      height: auto; 
      object-fit: cover; 
      border-radius: 8px;
    }
  }

  #section2 {
    height: auto;
    padding-top: 150px;
    p {
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 20px;
    }

    .memosphere-text-and-image {
      display: flex;
      align-items: center;
      gap: 20px;
      padding-right: 5px;
      padding-left: 5px;

    }
    .section-section {
      padding-top: 100px;
    }

    .memosphere-text-and-image > div {
      flex: 1;
    }

    .memosphere-text-and-image img {
      max-width: 100%;
      flex-shrink: 1;
      height: auto;
    }
  }

  #results {
    height: auto;
    padding-top: 150px;
    iframe {
      padding-left: 5%;
      padding-right: 5%;
      width: auto;
      height: 60vh;
    }

    .section-section {
      display: flex;
      flex-direction: column;

      a {
        padding-top: 20px;
        padding-left: 5%;
      }
    }
  }

  #section4 {
    height: auto;
    padding-top: 150px;
    p {
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 20px;
    }

    .space {
      height: $space-m;
    }
  }

  @media (max-width: 1000px) {
    #section2 {
      .memosphere-text-and-image {
        flex-direction: column;
      }
    }
  }

  @media (max-width: 500px) {
    #section1 {
      p,
      h3,
      h2,
      h4 {
        padding-left: 5px;
      }
    }

    .content-container {
      grid-template-columns: 0fr 20fr;
    }

    .vertical-navbar {
      width: 0;
    }

    .carousel-container {
      width: 100vw;
    }
  }

  @media (min-width: 1800px) {
    .title {
      padding-left: 10vw !important;
    }

    #section1,
    #section2,
    #results,
    #section4 {
      h2,
      h3,
      h4,
      ul,
      a {
        padding-left: 10vw !important;
        padding-right: 10vw !important;
      }


      p {
        padding-left: 10vw !important;
      }

      .design-overview-content {
        padding: 80px 10vw !important;
      }

      .memosphere-storyboard,
      .mooadboard-graphicprofile-container,
      .memosphereHiFi {
        padding-left: 10vw !important;
        padding-right: 10vw !important;
      }

      iframe {
        padding-left: 10vw !important;
        padding-right: 10vw !important;
      }

      .space {
        margin-left: 10vw !important;
        margin-right: 10vw !important;
      }

      .memosphere-text-and-image {
        padding-right: 10vw !important;
        padding-left: 10vw !important;
        h2,
        h3,
        h4,
        p,
        ul,
        a {
          padding-left: 0vw !important;
          padding-right: 0vw !important;
        }
      }
    }
  }
}
