@import 'variables';

.container {
    height: 25px;
    width: 50px;
    background: $primary-color;
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5px;
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid $background-color;
  }

  .handle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #fff7ca;
    overflow: hidden;
  }

  .icon {
    color: #f88748;
  }
  
.dark-mode {

}