@import "variables";

.menu-toggle {
  display: none;
}

.navbar-container {
  min-width: 450px;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: none;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin-right: 50px;
}

.navbar-list a {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  font-family: $font-heading;
  color: $text-color;
  transition: all 0.4s ease;

  &:hover {
    color: $secondary-color;
  }
}

.hero-link {
  margin-right: auto;
}

@media (max-width: 450px) {
  .menu-toggle {
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    position: relative;
    margin-right: 40px;
    color: $text-color;
    transition: all 0.4s ease;

    &:hover {
      color: $secondary-color;
    }
  }

  .navbar-list {
    position: absolute;
    flex-direction: column;
    gap: 0;
    top: 70px;
    left: -130%;
    text-align: start;
    width: 100%;
    transition: 0.7s ease-in-out;
    padding: 10px;
    //background-color: $background-color;
  }

  .navbar-list.active {
    left: 0;
  }

  .navbar-list li {
    margin: 16px 0;
  }
}

.dark-mode {
  .navbar-list a {
    font-weight: normal;
    color: $text-color-dark;

    &:hover {
      color: $secondary-color-dark;
    }
  }
  .menu-toggle {
    color: $text-color-dark;

    &:hover {
      color: $secondary-color-dark;
    }
  }
}
