@import "variables";

/* .projects-container {
  min-width: 450px;
  background-color: $background-color;
  margin-top: 0;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
}

.project {
    display: flex;
  margin: 1em auto;
  outline: 1px dashed lightgray;
  flex: none;
  overflow: auto;
}

.project.y {
    width: 256px;
    height: 256px;
    flex-flow: column nowrap;
    overflow-x: hidden;
  }

.project > div {
    text-align: center;
    scroll-snap-align: center;
    flex: none;
  }
.y.mandatory-scroll-snapping {
    scroll-snap-type: y mandatory;
  }

  .y.project > div {
    line-height: 256px;
    font-size: 128px;
    width: 256px;
    height: 100%;
  }

  .y.project > div:first-child {
    line-height: 1.3;
    font-size: 64px;
  }
  
  /* coloration */
/* .project > div:nth-child(even) {
    background-color: #87ea87;
  }
  .project > div:nth-child(odd) {
    background-color: #87ccea;
  }

.carousel-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-item {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }
  
 .carousel-image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 60%;
  }
  
  .progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--accent);
    bottom: 100px;
  } 
  
  .hej {
    display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh; 
  }
  
  h1 {
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    text-align: center;
    margin: 100px 0;
  }
  
  h2 {
    margin: 0;
    color: var(--accent);
    left: calc(50% + 130px);
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    position: absolute;
  }
  
  section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    perspective: 500px;
  }
  
  section > div {
    width: 300px;
    height: 400px;
    position: relative;
    max-height: 90vh;
    margin: 20px;
    background: var(--white);
    overflow: hidden;
  }
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  
  .progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--accent);
    bottom: 100px;
  }
  */

/* .project-image {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  vertical-align: middle;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.top-section h1 {
  font-size: 60px;
}

.scroll-container {
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  margin: 0;
  padding: 10vw;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  height: 100%;
  z-index: 1;
  position: relative;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.img-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  position:sticky;
  top: 0;
}

.copy {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  font-size: 24px;
  margin-left: 5%;
  text-align: left;
}

.copy h2 {
  font-size: 50px;
  margin-top: 0;
} */

/* Demo only */

/* Demo only */

/* .bottom-shadow {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.top-shadow {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 25%
  );
  height: 100%;
  width: 140%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
} 
  ::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}
  */

.projects-container {
  z-index: 10;
  position: relative;
  background-color: $background-color;
  margin-top: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

.project {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: row;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  //scroll-snap-align: center;
  //perspective: 500px;
}

.mockup {
  width: 90vw;
  //min-height: 100vh;
  flex: 50%;
}
.project-info {
  padding-left: 30px;
  flex: 50%;
}

.tag-container {
  display: flex;
  flex-direction: row;
}

//////darkmode/////////////////////
.dark-mode {
  .projects-container {
    background-color: $background-color-dark;
  }

  .pill {
    border-radius: 100px;
    color: $text-color-dark;
    background-color: $primary-color-dark;
  }
}

@media (max-width: 1000px) {
  .projects-container {
    //flex-wrap: wrap;
  }

  .project {
    flex-direction: column;
  }
  .project-info {
    flex: 100%;
    margin-top: 10px;
  }

  .mockup {
    flex: 100%;
    margin-left: -90px;
  }
}
