@import url("https://fonts.googleapis.com/css?family=Montserrat|Sansita");

:root {
  --primary-color: #FFDEDE;
  --primary-color-2: #CEF0FF;
  --text-color: #141736;
  --secondary-color: #d93f52;
  --background-color: #fbfbfb;
  --sun-color: #fff385;
  --moon-color: #CED0E8;

  --font-text: "Montserrat", sans-serif;
  --font-heading: "Sansita", sans-serif;

  --space-m: 100px;
}

.dark-mode {
  --primary-color: #463B75;
  --primary-color-2: #8F55AB;
  --text-color: #fbfbfb;
  --secondary-color: #fa89aa;
  --background-color: #16171E;
  --moon-color: #CED0E8;
  --muted-color: #545663;
  --background-fade: linear-gradient(0deg, rgba(22, 23, 30, 1) 0%, rgba(22, 23, 30, 0.8) 60%, rgba(22, 23, 30, 0) 100%);
  --orange-color: #E4B354;
}

.light-mode {
  --primary-color: #FFDEDE;
  --primary-color-2: #CEF0FF;
  --text-color: #141736;
  --secondary-color: #d93f52;
  --background-color: #fbfbfb;
  --sun-color: #fff385;
  --muted-color: #9495a5;
  --background-fade: linear-gradient(0deg, rgba(251, 251, 251, 1) 0%, rgba(251, 251, 251, 0.8) 60%, rgba(251, 251, 251, 0) 100%);
  --orange-color: #FFA800;
}

$primary-color: var(--primary-color);
$primary-color-2: var(--primary-color-2);
$text-color: var(--text-color);
$secondary-color: var(--secondary-color);
$background-color: var(--background-color);
$muted-color: var(--muted-color);
$sun-color: var(--sun-color);
$moon-color: var(--moon-color);
$background-fade: var(--background-fade);
$blue-color: #6378FF;
$orange-color: var(--orange-color);
$font-text: var(--font-text);
$font-heading: var(--font-heading);
$space-m: var(--space-m);
