@import url("https://fonts.googleapis.com/css?family=Montserrat|Sansita");

:root {
  --primary-color: #FFDEDE;
  --primary-color-2: #CEF0FF;
  --text-color: #141736;
  --secondary-color: #d93f52;
  --background-color: #fbfbfb;
  --sun-color: #fff385;
  --moon-color: #CED0E8;

  --font-text: "Montserrat", sans-serif;
  --font-heading: "Sansita", sans-serif;

  --space-m: 100px;
}

.dark-mode {
  --primary-color: #463B75;
  --primary-color-2: #8F55AB;
  --text-color: #fbfbfb;
  --secondary-color: #fa89aa;
  --background-color: #16171E;
  --moon-color: #CED0E8;
}

.light-mode {
  --primary-color: #FFDEDE;
  --primary-color-2: #CEF0FF;
  --text-color: #141736;
  --secondary-color: #d93f52;
  --background-color: #fbfbfb;
  --sun-color: #fff385;
}

$primary-color: var(--primary-color);
$primary-color-2: var(--primary-color-2);
$text-color: var(--text-color);
$secondary-color: var(--secondary-color);
$background-color: var(--background-color);
$sun-color: var(--sun-color);
$moon-color: var(--moon-color);

$font-text: var(--font-text);
$font-heading: var(--font-heading);
$space-m: var(--space-m);
